*.pyc
.vscode/

ignore/
dist/
build/
figures/
random/
output_data/
results/

src/curtains/models/*
!src/curtains/models/arf.fits
!src/curtains/models/rmf.fits

*.egg-info/
*.pdf
simulation.py
src/curtains/version.py
