__pycache__/

.DS_Store
/.DS_Store

.vscode/

ignore/
dist/
build/
figures/
random/
output_data/
results/

curtains/models/*
!curtains/models/arf.fits
!curtains/models/rmf.fits

*.egg-info/
*.pdf
simulation.py